@import "tailwindcss";
@import "@nuxt/ui";

@import "./defaultStyle.css";
/* @import "./nomnomStyle.css"; */

/*
:root {
  --ui-container: 100%;
}

@media (min-width: 1400px) {
  :root {
    --ui-container: 80vw !important;
  }
}


@media (min-width: 1700px) {
  :root {
    --ui-container: 70vw !important;
  }
}
*/
